<h1>Feed Page</h1>
<a href='/feeds/new'>Feed 새로 만들기</a>

<% @feeds.each do |f| %>
  <div style='border: 1px solid black;'>
    <div>
      <%=link_to '삭제', "/feeds/#{f.id}", method: :delete %>
    </div>
    <div><%= f.title %></div>
    <div><%= f.content %></div>
  </div>
<% end %>
