<h1>Feed Page</h1>
<a href='/feeds'>Feed Page</a>
<a href='/events'>Event Page</a>
<br>
<br>
<a href='/feeds/new'>Feed 새로 만들기</a>

<% @feeds.each do |f| %>
  <div style='border: 1px solid black;'>
    <div>
      <%=link_to '삭제', "/feeds/#{f.id}", method: :delete %>
    </div>
    <div><%= f.title %></div>
    <div><%= f.content %></div>
    <div>
      <form action='/feeds/<%=f.id%>/comments' method='POST'>
        <input type='text' name='content'/>
        <button>댓글 작성</button>
      </form>
    </div>
  </div>
<% end %>
