<div class="center-absolute center-valign">
  <div class="mdl-grid form no-margin">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <div class="mdl-card__title center-align">
        <h3 class="mdl-typography--font-bold mb-0">새 글 작성</h3>
				<form action='/feeds' method='POST' class="mdl-cell mdl-cell--12-col">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-textfield mdl-js-textfield pt-0">
	          	<label for="title" class="mdl-textfield__label">제목</label>
	          	<br>
	          	<input type="text" name="title" id="title" class="mdl-textfield__input">
	          </div>

	          <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-textfield mdl-js-textfield pt-0">
	          	<label for="content" class="mdl-textfield__label">내용</label>
	          	<br>
	          	<textarea type="text" name="content" id="content" class="mdl-textfield__input" rows="5"></textarea>
	          </div>
	        </div>

          <div class="mdl-grid">
            <input type="submit" value="작성 완료" class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          </div>
      	</form>
      </div>
    </div>
  </div>
</div>

