::selection {
  background: $color-primary;
  color: $color-accent;
}
::-webkit-scrollbar { 
    display: none; 
}

/*
 * Helper Styles
 */ 

.none {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// No Text Select
.no-select {
  user-select: none;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-border {
  border-color: transparent !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important; 
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/*
 * Custom Styles
 */ 

.mdl-layout__drawer {
  overflow: hidden;
  .mdl-navigation:last-child {
    overflow-y: auto;
    max-height: calc(100% - 222px);
  }
}

.mdl-layout__header-row.signed-out {
  padding-left: 24px;
}

.mdl-button--fab {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 999;
  @include shadow-3dp();
}

.mdl-list__item.comment {
  min-height: 24px;
  padding: 5px 16px;
}

.mdl-layout__content {
  min-height: calc(100vh - 64px);
}

/*
 * Masonry
 */

.js-grid {
  margin: 20px;
}
.mdl-card {
  margin-bottom: 20px;
}
.mdl-card, .js-grid-sizer {
  width: 32%;
}
.js-gutter-sizer {
  width: 2%
}

@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
  .mdl-card, .js-grid-sizer {
    width: 48.5%
  }
  .js-gutter-sizer {
    width: 3%
  }
}

@media (max-width: $grid-tablet-breakpoint - 1) {
  .mdl-card, .js-grid-sizer {
    width: 100%
  }
  .js-gutter-sizer {
    width: 0
  } 
}